 .App {
  text-align: center;
  height: 100vh;
  width:100vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.startup_background{
  height: 100vh;
  width: 100vw;
  background-image: url(images/shutdown.jpg);
  background-repeat: none;
  background-size: cover;
}
.desktop_background{
  background-color: teal;
  height: 100vh;
  width:100vw;

}
.bottom_bar{
  position: fixed;
  bottom: 0;
  width:100vw;
  background-color: silver;
  height:33px;
  box-shadow: inset 1px 0 #fff;
  border-bottom:1px solid #4e4e4e;
  text-align: left;
  padding-top: 2px;
}

.start_button{
  box-shadow: outset;
  text-align:center;
  vertical-align: middle;
    display: inline-block;
    padding: 0px 6px 3px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    min-width: 59px;
    margin-right: 5px;
    color: #000;
    font-size: 13px;
    margin-left:3px;
    font-weight: 500;
}
.start_button:hover{
cursor: default;
}
.block_bb{
  width:7px;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;

}
.inset_line{
      border-left: 1px solid #707070;
    border-right: 1px solid white;
  width:20px;
  box-shadow: outset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:inherit; 
  border-top: 1px solid #fff;
    vertical-align: middle;
    margin-right:3px;

}
.time_clock{
  position:fixed;
   vertical-align: middle;
  right:0;
  margin-right:3px;
  padding-bottom: 2px;
    border: inset 1px;
    font-size:15px;
    font-weight: 500;
    box-shadow: 1px 1px 0 #707070 inset, -1px -1px 0 white inset;
}
.icon_tray{
  display: table-cell;
}
.ic_button{
  background-color: teal;
  border:none;
  color:white;
  font-size:12px;
}
.ic_button:hover{
  border:none;
  cursor:default;
  border-color:teal;
}
.ic_button:active{
  border-color: teal;
  cursor:default;
}
.row{
  width:inherit;
  height:inherit;
}
.my_computer{
    position:fixed;
    top:10vh;
    left:30vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:500px;
    width:600px;
}
.my_computer_header{
      background: linear-gradient(to right, #000080 0%, #1084d0 100%);
      color:white;
      height:30px;
}
.myimg{
  vertical-align: middle !important;
}
.close_button:hover{
  cursor: default;
}
.close_button{
  position: absolute;
  right:0;
  padding-top:0px;
  cursor: default !important;
  margin-right:3px;
  background-color: silver;
   box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
}
.block_myComputer{
  box-shadow: outset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;
}
.block_myComputer1{
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;
}
.white_area{
padding-right:380px;
box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;  
background-color: white;
color:black;
border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
  
}
.icon_view{
  height: 370px;
  width: 592px;
  background-color: white;
}
.text-dialog{
  font-weight: 700;
}
.asd{
  margin-top:20px;
}
.my_document{
    position:fixed;
    top:15vh;
    left:35vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:500px;
    width:600px;
}
.recyclebin{
    position:fixed;
    top:20vh;
    left:40vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:500px;
    width:600px;
}
.notepad{
    position:fixed;
    top:15vh;
    left:45vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:500px;
    width:600px;
}
.calculator{
    position:fixed;
    top:15vh;
    left:45vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:300px;
    width:400px;
}
.show{
  background-color: white;
  color:black;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;  

  width:380px;
}
.button_cal{
  width:50px;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;

}
.button_cal1{
  width:120px;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;

}
.wrap{display: inline-flex;}

.start_menu{
  background-color:silver;
  position:fixed;
  bottom:30px;
  height: 400px;
  width:250px;
}
.text_start_menu{
  transform: rotate(-90deg);
  position: fixed;
  bottom:55px;
  left:-10px;
  color:white;
}
.blueCol{
  background: linear-gradient(to right, #000080 0%, #1084d0 100%);
      
}
.start_menu_button{
  border:none;
  background-color:silver;
  width:180px;
}
.start_menu_button:hover{
  cursor: default;
  color:white;
  background-color: blue;
}
.shutdown_window{
  position: fixed;
  top:20vh;
  left:30vw;
}
.shutdown_button{
   width:50px;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;
}
.shutdown_button:hover{
  cursor:default;
}
.shutdown{
     position:fixed;
    top:15vh;
    left:45vw;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
    height:200px;
    width:300px;
}
.open_window{
 width:100px;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  height:30px; 
  border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: middle;
}

.shutdown_background{
  height: 100vh;
  width: 100vw;
  background-image: url(images/shutdown.jpg);
  background-repeat: none;
  background-size: cover;
}